.selected-home{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    background:$white;
    transition: background-color 0.4s;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.5);
    border-style:0.1px outset;
    width: 80%;
    margin:100px auto 0;
    height: 519px;
    animation: transitionIn 0.75s;

    border-radius: 0px;
    padding:10px;

    .left-part{
        width: 50%;
        display:flex;
        flex-direction: column;
        gap:10px;

    }
    .right-part{
        display:flex;
        gap:20px;
    }

}