.formCreateCollectionMP{
    //background:red;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    padding:20px ;
    height:500px;
    border: 1px solid $black;
    width:40%;
    margin: 100px auto;
    animation: transitionIn 0.75s;

    input[type=text]{
        width:80%;
    }

    input[type=number]{
        padding:10px;
        width:80%;
    }
}