
.navbar{
    width:80%;
    margin: 20px auto;
    // background:green;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $white;

    #logo{
        // background:red;
        font-family: $font-1;
    }
    ul{
       
        font-family: $font-2;
        gap:80px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
        
        li{
            font-family: $font-1;
        }
    }
}
