.nft-container{
    //background:red;
    width:160px;
    height:320px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    border:1px solid $black;
    border-radius: 10px;
    img{
        
        //background:green;
        
        height:150px;
        width:100%;
        margin: 0 auto;
        object-fit: cover;
        border-radius: 10px;
    }

    .info{

        display:flex;
        justify-content: space-around;
        padding-bottom:20px;
    }
}