.subNavbar{

    //background:$black;
    border-bottom:1px solid $black;
    width:80%;
    margin: 0 auto;
    .subNavbar-list{
        margin:40px auto 0px;
        padding:10px;
        position: relative;
        display:flex;
        flex-direction: row;
        justify-content:space-evenly;
        text-align: center;
        font-family: $font-3;
        

        li{
            color:black;
        }
    }

    



}